
VaxTrack.xcodeproj/xcuserdata/user195697.xcuserdatad/xcschemes/xcschememanagement.plist
VaxTrack.xcodeproj/project.xcworkspace/xcuserdata/user195697.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
